*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 114vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#aaa{
    font-weight: 900;
    font-size: 2.4vh;
    margin-bottom: 2vh;
}
.nav{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 2;
}
.nav-left{
    width: 45vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}
.nav-right{
    width: 45vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#user-email{
    border-radius: 2vh;
    font-family: "Orbitron", sans-serif;
    border: none;
    color: black;
    padding: 2vh;
    background-color: #ffffff65;
}
.nav-middle{
    width: 10vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links{
    margin: 2vh;
    text-decoration: none;
    font-weight: 200;
    color: black;
    font-family: "Orbitron", sans-serif;
}
.nav-logo{
    width: 100%;
}
.nav-links:hover{
    color: rgba(0, 0, 0, 0.272);
}
#carouselExampleCaptions{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
.section-one{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.division-button{
    width: 33vw;
    height: 100vh;
    border: none;
}
#division-button1{
    background-image: url(./A2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#division-button2{
    background-image: url(.//A1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#division-button3{
    background-image: url(./A3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.division-button:hover{
    opacity: 80%;
}
footer{
    width: 100vw;
    height: 120vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button:hover{
        color: yellow;
    }
    select:hover{
        color: yellow;
    }
}
.footer-1{
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-buttons-1{
    background-color: black;
    width: 90vw;
    height: 20vh;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 2vh;
}
.footer-top-buttons{
    height: 10vh;
    width: 26vw;
    background-color: black;
    border: none;
    border-bottom: solid 2px yellow;
    padding: 2vh;
    text-align: left;
    color: white;
}
#footer-top-button-2{
    background-color: yellow;
    color: black;
}
#footer-top-button-2:hover{
    color: #fff;
}
.two-button-container{
    height: 20vh;
    width: 30vw;
}
#two-button-container-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
#two-button-container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#two-button-container-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.footer-top-buttons:hover{
    color: yellow;
}
.footer-2{
    height: 20vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo{
    height: 20vh;
    filter: invert(100%);
}
.footer-3{
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-links-container{
    height: 40vh;
    width: 86vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.footer-link-boxes{
    height: 32vh;
    width: 21.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Orbitron", sans-serif;
    font-size: 2vh;

}
.footer-select{
    width: 21.5vw;
    height: 8vh;
    text-align: left;
    border: none;
    background-color: black;
    color: #fff;
}
.footer-select-buttons{
    width: 21.5vw;
    height: 8vh;
    text-align: left;
    padding-left: 2vh;
    border: none;
    background-color: black;
    color: #fff;
}
#newsletter-button{
    border: 1px solid #fff;
}
#last-box{
    padding-bottom: 16vh;
}
.footer-social-media{
    width: 86vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: "Orbitron", sans-serif;
    font-size: 2vh;
    justify-content: space-evenly;
}
.social-media-links{
    color: #fff;
    text-decoration: none;
}
Link{
    color: #fff;
}
@media only screen and (max-width: 820px) {
    .nav{
        display: flex;
        flex-direction: column;
        height: 30vh;
    }
    .nav-left{
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 30vh;
        align-items: start;
        padding-left: 4vw;
    }
    .nav-logo{
        width: 40vw;
    }
    header{
        height: 128vh;
    }
    .section-one{
        height: 300vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
      }
      .division-button{
        width: 100vw;
        height: 99vh;
      }
      footer{
        height: 240vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .footer-1{
        height: 20vh;
      }.footer-buttons-1{
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
      }
      .footer-top-buttons{
        width: 100vw;
      }
      .footer-2{
        height: 40vh;
      }
      .footer-3{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .footer-links-container{
        height: 150vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .footer-link-boxes{
        width: 100vw;
      }
      .footer-select{
        width: 100vw;
        padding-left: 3vh;
      }
      .footer-select-buttons{
        width: 100vw;
        height: 8vh;
        padding-left: 3vh;
      }
      .footer-social-media{
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .carousel-image-container {
        width: 100vw;
        height: 128vh;
        overflow: hidden;
    }
    
    .carousel-image-container img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
  }